<html>
<head>
    @{
        ViewBag.Title = "Gallery";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag Love Travel</title>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head> 
    <h2 class="title-text">Gallery</h2>
    <section class="gallery_section layout_padding">
        <div class="box-container">
            <div class="box">
                <img src="~/images/Slide/1.png" alt="">
                <div class="content">
                    <h3>Xứ sở bạch dương trắng</h3>
                    <p>Mùa đông ở nước Nga.</p>
                </div>
            </div>
            <div class="box">
                <img src="~/images/Slide/2.jpg" alt="">
                <div class="content">
                    <h3>Quảng Trường Đỏ uy nghi ở  Nga</h3>
                    <p>
                        Quảng trường Đỏ nằm ở trung tâm của thủ đô Moscow. Đây niềm tự hào của nước Nga là nơi diễn ra những sự kiện quan trọng của đất nước tại nơi đây.
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="~/images/Slide/3.jpg" alt="">
                <div class="content">
                    <h3>Merlion Park in Singapore</h3>
                    <p>Bức tượng sư tử biển ở Merlion Park do thợ điêu khắc Lim Nang Seng tạc nên.Tượng trưng cho sự giản dị của làng chài Temasek ở Singapore.</p>
                </div>
            </div>
            <div class="box">
                <img src="~/images/Slide/4.jpg" alt="">
                <div class="content">
                    <h3> California</h3>
                    <p>“thánh địa” Disneyland, Đại lộ Danh Vọng, “đại bản doanh” Hollywood mà còn có những bãi biển ngập nắng vàng nơi sinh sống của loài hải cẩu đáng yêu,… thực là một cảnh đẹp nước Mỹ.</p>
                </div>
            </div>
            <div class="box">
                <img src="~/images/Slide/5.jpg" alt="">
                <div class="content">
                    <h3>Tháp N Hàn Quốc</h3>
                    <p>Tháp Namsan bắt đầu vào năm 1969 và tháp này bắt đầu phát sóng viễn thông vào năm 1971.Tòa tháp mới được mở cửa cho công chúng vào tham quan. Tính tới năm 2001, Tháp Namsan đã có hơn 20 triệu lượt khách.</p>
                </div>
            </div>
            <div class="box">
                <img src="~/images/Slide/6.jpg" alt="">
                <div class="content">
                    <h3>Khám phá Bờ Tây nước Mỹ.</h3>
                    <p>Khám phá điểm đến hấp dẫn này, du khách không thể bỏ qua những bãi biển tuyệt đẹp trên đảo Hawaii:Thiên đường giải trí bậc nhất thế giới.</p>
                </div>
            </div>
            <div class="box">
                <img src="~/images/Slide/7.png" alt="">
                <div class="content">
                    <h3>Đài Loan</h3>
                    <p>Đài Loan có một di sản về văn hóa và tinh thần vô cùng phong phú, ẩm thực tuyệt vời, những suối nước nóng đẳng cấp thế giới, cảnh đẹp đáng kinh ngạc.</p>
                </div>
            </div>
            <div class="box">
                <img src="~/images/Slide/8.png" alt="">
                <div class="content">
                    <h3>Châu Âu</h3>
                    <p>Mùa hè ở Châu Âu gần như ngày nào trời cũng nắng và trong xanh, cây cối phát triển mạnh, nhiệt độ cũng không quá nóng, bạn có thể thỏa thích đi bộ, đạp xe ngắm hồ nước, cảnh quan ..</p>
                </div>
            </div>
            <div class="box">
                <img src="~/images/Slide/9.jpg" alt="">
                <div class="content">
                    <h3>Sunset Boulevard</h3>
                    <p>Đại lộ này là điểm vui chơi, giải trí sầm uất nhất về đêm ở thành phố này và được rất nhiều du khách quốc tế yêu thích. Đặc biệt, hãy trải nghiệm khoảnh khắc ngắm vẻ đẹp hoàng hôn.. ..</p>
                </div>
            </div>
        </div>

    </section>
