
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2 class="title-text">News</h2>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="page-wrapper">
                    <div class="blog-list clearfix">
                        <div class=" row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <img src="~/images/News/news-bg-1.jpg" alt="" class="img-fluid">
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="  col-md-8">
                                <h4>@Html.ActionLink("Đà Nẵng là nơi hội tụ nhiều địa điểm du lịch", "News1", "Home")</h4>
                                <p>Với những điểm du lịch nổi tiếng như Bà Nà Hills,Biển Mỹ Khê...đã thu hút hàng nghìn khách du lịch đến thăm.</p>
                                <small>1/1/2020</small>
                                <small><i class="fa fa-eye"></i> 4412</small>
                            </div><!-- end meta -->
                        </div><!-- end  -->

                        <hr class="invis">

                        <div class=" row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="tech-single.html" title="">
                                        <img src="~/images/News/news-bg-2.jpg" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="col-md-8">
                                <h4><a href="tech-single.html" title="">Vịnh Hạ Long-Kỳ quan thiên nhiên thế giới</a></h4>
                                <p> Nổi tiếng các hòn đảo tự nhiên nổi trên mặt nước, các hang động huyền bí như Động Thiên Cung...</p>
                                <small>1/1/2020</small>
                                <small><i class="fa fa-eye"></i> 4412</small>
                            </div><!-- end meta -->
                        </div><!-- end  -->

                        <hr class="invis">

                        <div class=" row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="tech-single.html" title="">
                                        <img src="~/images/News/news-bg-3.jpg" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="  col-md-8">
                                <h4><a href="tech-single.html" title="">Về Cần Giờ trải nghiệm bình yên bên rìa thành phố</a></h4>
                                <p> Còn gì thú vị hơn khi thức dậy trong không gian yên bình, ngắm bình minh cạnh bờ biển và thưởng thức ly cà phê đá ngon tuyệt!.</p>
                                <small>1/1/2020</small>
                                <small><i class="fa fa-eye"></i> 4412</small>
                            </div><!-- end meta -->
                        </div><!-- end  -->

                        <hr class="invis">

                        <div class=" row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="tech-single.html" title="">
                                        <img src="~/images/News/news-bg-4.jpg" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="  col-md-8">
                                <h4><a href="tech-single.html" title="">Đà Lạt "Nàng thơ" trong lòng khách du lịch</a></h4>
                                <p> Đà Lạt mộng mơ nơi mimosa và ngàn hoa khoe sắc,từ đồi Robin ngắm Hồ Tuyền Lâm,viếng Thiền Viện Trúc Lâm,thăm Dinh Bảo Đại...</p>
                                <small>1/1/2020</small>
                                <small><i class="fa fa-eye"></i> 4412</small>
                            </div><!-- end meta -->
                        </div><!-- end  -->

                        <hr class="invis">

                        <div class=" row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="tech-single.html" title="">
                                        <img src="~/images/News/news-bg-5.jpg" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="  col-md-8">
                                <h4><a href="tech-single.html" title="">Ấn tượng Sapa đầu đông, khung cảnh thiên nhiên hùng vĩ.</a></h4>
                                <p>Đến với Sapa vào mùa đông bạn sẽ có cơ hội được chiêm ngưỡng khung cảnh hùng vĩ, tận hưởng cái lạnh đặc trưng của núi rừng Tây Bắc.</p>
                                <small>1/1/2020</small>
                                <small><i class="fa fa-eye"></i> 4412</small>
                            </div><!-- end meta -->
                        </div><!-- end  -->

                        <hr class="invis">

                        <div class=" row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="tech-single.html" title="">
                                        <img src="~/images/News/news-bg-6.jpg" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="  col-md-8">
                                <h4><a href="tech-single.html" title="">Phú Quốc - Thiên đường đám cưới và nghĩ dưỡng.</a></h4>
                                <p> Phú Quốc phong cảnh đẹp đã trở thành lựa chọn của những cặp uyên ương cho một đám cưới đẹp,du lịch</p>
                                <small>1/1/2020</small>
                                <small><i class="fa fa-eye"></i> 4412</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- side bar -->
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="~/images/News/Sidebar1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Trend Videos</h2>
                        <div class="trend-videos">
                            <div class="">
                                <div class="post-media">
                                    <iframe width="280" height="150" src="https://www.youtube.com/embed/3M0TmN2TsK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="blog">
                                    <h4><a href="https://www.youtube.com/embed/3M0TmN2TsK4" title="">10 Best Places to Visit in Vietnam - Viet Nam Travel</a></h4>
                                </div>
                            </div><!-- end  -->

                            <hr class="invis">

                            <div class="">
                                <div class="post-media">
                                    <iframe width="280" height="150" src="https://www.youtube.com/embed/DIgv-e18OzA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="">
                                    <h4><a href="https://www.youtube.com/embed/DIgv-e18OzA" title="">    Vietnam - Land of ancient secrets | Cinematic Travel</a></h4>
                                </div>
                            </div><!-- end  -->
                        </div>
                    </div>
                    <div class="widget">
                        <h2 class="widget-title">Follow Us</h2>
                        <div class="row text-center">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="bg-info p-2 img-rounded">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="bg-info p-2 img-rounded">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="bg-info p-2 img-rounded">
                                    <i class="fa fa-google-plus"></i>                                  
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="bg-info p-2 img-rounded">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div><!-- end widget -->

                </div>
            </div>
        </div>
        </div>
    </section>
