
@{
    ViewBag.Title = "News1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <div class="container" style="background-color: #f2f2f2; padding-right: 0px">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="page-wrapper">
                    <div class="article1">
                        <img src="~/images/News/news-bg-1.jpg" class="img-fluid" />
                        <small>1/1/2020</small>
                        <small><i class="fa fa-eye"></i> 4412</small>
                        <div class="single-article-text">
                            <h3> Đà Nẵng nổi tiếng với các địa điểm du lịch như: Ngũ hành sơn, Chùa Linh Ứng,biển Mỹ Khê, cầu sông Hàn…vô vàn cảnh đẹp thu hút khác.</h3>

                            <p>Mỹ Khê đã từng được tạp chí Forrbes của Mỹ bình chọn là một trong 6 bãi biển quyến rũ nhất hành tinh. Nổi tiếng với cát trắng mịn, nước trong xanh, sóng biển ôn hòa cùng hàng dừa xanh bao quanh tuyệt đẹp. Ngoài ra còn có hệ thống khách sạn, khu nghỉ dưỡng cao cấp lân cận, là điểm dừng chân lý tưởng cho du khách.</p>
                            <img src="~/images/News/news1/2.jpg" />
                            <p>Biển Mỹ Khê</p>

                            <p>Chùa Linh Ứng có độ cao đạt 1500m đã trở thành du lịch tâm linh nổi tiếng mà du khách không nên bỏ qua. Ngôi chùa này có phong cách kiến trúc giống với các loại chùa Việt Nam với mái ngói cong, diện tích khoảng sân rộng lót bằng đá và phía trước trồng cây thông có 3 loại lá khác nhau. Đặc biệt, du khách đến đây sẽ vô cùng ấn tượng trước tượng Đức Bổn Sư Thích Ca Mâu cao 27m, thiền định trên một đài hoa sen và bên dưới có 8 bức phù điêu chạm khắc tinh tế...</p>
                            <img src="~/images/News/news1/4.jpg" />
                            <p>Chùa Linh Ứng</p>
                            <p>
                                Khi nhắc đến Đà Nẵng người ta không thể không nhắc đến sông Hàn thơ mộng và cầu sông Hàn – Chiếc cầu xoay đầu tiên của Việt Nam, là niềm tự hào của người dân thành phố Đà Nẵng. Chiếc cầu biểu tượng cho sức sống mới, là khát vọng vươn lên của thành phố Đà Nẵng, được xây dựng bằng sự đóng góp của mọi người dân nơi đây.
                            </p>
                            <img src="~/images/News/news1/6.jpg" />
                            <p>Cầu Sông Hàn</p>
                            <p>
                                Bà Nà Hills được biết đến là một trong những địa điểm nổi tiếng bậc nhất tại Việt Nam mà bất kỳ du khách nào cũng không thể bỏ qua. Nơi này được ví von như chốn ‘’tiên cảnh’’, như một ‘’Châu Âu thu nhỏ trong lòng thành phố’’ với những công trình kiến trúc cổ đẹp ma mị, những trò chơi giải trí cực kỳ hấp dẫn hay cả một vườn hoa thơm ngát ngào ngạt chờ đón du khách đến chụp hình. Tất cả đã tạo nên một Bà Nà Hills cực kỳ độc đáo khiến cho bất kỳ du khách nào đã đến thì đều không nỡ bước chân đi.
                            </p>
                            <img src="~/images/News/news1/5.jpg" />
                            <p>Bà Nà Hills</p>
                            <p>Tạp chí Times còn bình chọn cây cầu Vàng thuộc Top 10 điểm đến hấp dẫn nhất hành tinh năm 2018.Đặc điểm thu hút khách với nét độc đáo với hình ảnh cây cầu được nâng đỡ bởi bàn tay cũ kỹ ,rêu phong,tạo nên khung cảnh đẹp ngỡ ngàng.</p>
                            <img src="~/images/News/news1/3.jpg" />
                            <p>Cầu Vàng-Bà Nà Hill</p>
                        </div>
                    </div>
                    <div>
                        <a href="index.cshtml">
                            <button class="btn btn-info" type="button" style="width: 100%;">
                                @Html.ActionLink("Back to News", "New", "Home")
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar ms-auto" style="background-color:#f6e8de;padding:15px;">

                    <div class="widget">
                        <h2 class="widget-title">Trend Videos</h2>
                        <div class="trend-videos">
                            <div class="">
                                <div class="post-media">
                                    <iframe width="300" height="130" src="https://www.youtube.com/embed/3M0TmN2TsK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="blog">
                                    <h4><a href="https://www.youtube.com/embed/3M0TmN2TsK4" title="">10 Best Places to Visit in Vietnam - Viet Nam Travel</a></h4>
                                </div>
                            </div><!-- end  -->

                            <hr class="invis">

                            <div class="">
                                <div class="post-media">
                                    <iframe width="300" height="130" src="https://www.youtube.com/embed/DIgv-e18OzA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="">
                                    <h4><a href="https://www.youtube.com/embed/DIgv-e18OzA" title="">    Vietnam - Land of ancient secrets | Cinematic Travel</a></h4>
                                </div>
                            </div><!-- end  -->
                        </div>
                    </div>
                    <div class="widget">
                        <h2 class="widget-title">Follow Us</h2>
                        <div class="row text-center">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="bg-info p-3 img-rounded">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="bg-info p-3 img-rounded">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="bg-info p-3 img-rounded">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="bg-info p-3 img-rounded">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div><!-- end widget -->
                    <div class="recent-posts">
                        <h2>Recent Posts</h2>
                        <ul>
                            <li><a href="news2.html">Du lịch Đà Nẵng</a></li>
                            <li><a href="news3.html">Về Cần Giờ trải nghiệm bình yên bên rìa thành phố.</a></li>
                            <li><a href="news4.html">Đà Lạt mộng mơ</a></li>
                            <li><a href="news5.html">Ấn tượng Sapa đầu đông, khung cảnh thiên nhiên hùng vĩ</a></li>
                            <li><a href="news6.html">Phú Quốc - Thiên đường đám cưới và trăng mật</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        </div>

